{
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 100,
	"quoteProps": "consistent",
	"jsxSingleQuote": false,
	"jsxBracketSameLine": false,
	"trailingComma": "none",
	"bracketSpacing": true,
	"arrowParens": "always"
}
